@use 'colors' as c;

.displayOn {
    display: flex;
}

.displayOff {
    display: none;
}

.activeRate {
    background-color: c.$medium-grey;
    color: c.$white;
}

.defaultRate {
    background-color: c.$medium-grey-opacity;
    color: c.$light-grey;
}

